* {
    box-sizing: border-box;
}

html {
    margin: 2rem;
}

.demo-box {
    margin: 1rem;
    border: thick solid grey;
    border-radius: 0.75rem;
    padding: .75rem;
}

.card>img {
    height: 200px;
    background: gray;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

header {
    flex: 0 80px;
    background: whitesmoke;
}

footer {
    flex: 0 30px;
    background: white;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
}

section:nth-child(1) {
    flex: 0.5;
    background-color: grey;
}

section:nth-child(2) {
    flex: 2;
    background-color: white;
}

section:nth-child(3) {
    flex: 0.5;
    background-color: grey;
}

@media (orientation: portrait) {
    main {
        flex-direction: column;
    }
}

@media (max-height: 500px) {
    header {
        display: none;
    }

    footer {
        display: none;
    }
}